/* Home Styles */
.bodyBG_home {
    background-color: #000;
}

body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: #fff;
}

.main-nav {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: rgba(255, 204, 0, 0.8);
}

@media (min-width: 768px) {
    .main-nav {
        left: 50%;
        transform: translateX(-50%);
    }
}

.background_home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pictures/26ea11e5-eba7-4315-97fd-3a4ebc5d7b06.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
    transition: background-image 0.5s ease;
}

.title-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.main-title {
    font-size: 4em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.arrow {
    font-size: 3em;
    color: rgba(128, 128, 128, 0.8);
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.arrow:hover {
    color: rgba(128, 128, 128, 1);
    background-color: rgba(0, 0, 0, 0.5);
}

.left-arrow {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.right-arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Login Page Styles */
.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('pictures/9d7fab6d-ae1f-46a1-acd1-9022de0b5a9b.jpg');
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.login-container {
    position: relative;
    z-index: 1;
    background-color: rgb(53, 57, 53); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 50px;
    color: white;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

.login-container .register {
    text-align: center;
    margin-top: 20px;
}

.bodyBG_login {
    background-color: #000;
}

/* Home Page Styles */
.home-container {
    text-align: center;
}

.background_guide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #808080;
    z-index: -1;
}

/* Button Container Grid Layout */
.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 40px;
    padding: 40px;
    background-color: #a9a9a9;
    border: 2px solid #696969;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    margin: auto;
}

/* Button Styling */
.button-container button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    color: #333;
    background-color: #c0c0c0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.button-container button img {
    max-height: 80px;
    width: auto;
    object-fit: contain;
    margin-bottom: 15px;
}

.button-container button:hover {
    background-color: #dcdcdc;
}

/* BG guide_page */
.background_guide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #80808027;
    z-index: -1;
}

.bodyBG_guide {
    background-color: #000;
}

/* Style for ammo page */
.bodyBG_ammo {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.background_ammo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pictures/f0aa1782-aac3-4540-99cd-714f1035db6a.jpg'); /* Replace with actual image path */
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 90vh;
    margin: 120px auto 0;
}

.left-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 250px;
    max-height: 100%;
    overflow-y: auto;
    background-color: #A9A9A9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.left-button-container button {
    padding: 15px 20px;
    font-size: 18px;
    color: #333;
    background-color: #D3D3D3;
    border: 1px solid #696969;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: left;
    width: 100%;
}

.left-button-container button:hover {
    background-color: #B0B0B0;
    border-color: #505050;
}

.description-container {
    flex: 1;
    margin-left: 30px;
    padding: 30px;
    background-color: #d3d3d3;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 75%;
    overflow-y: auto;
    height: 100%;
}

.description-container img {
    max-width: 90%; /* Increase the maximum width to make the image larger */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 20px auto; /* Center the image and add space around it */
    padding: 10px; /* Optional padding for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow for depth */
    border-radius: 10px; /* Optional rounded corners */
    background-color: #fff; /* Optional background color for better contrast */
    border: 2px solid #ccc; /* Optional border for styling */
}

/* Medicals page styles */
.bodyBG_meds {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.background_meds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pictures/f0aa1782-aac3-4540-99cd-714f1035db6a.jpg'); /* Replace with actual image path */
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.content-container_meds {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 90vh;
    margin: 120px auto 0;
}

.left-button-container_meds {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 250px;
    max-height: 100%;
    overflow-y: auto;
    background-color: #A9A9A9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.left-button-container_meds button {
    padding: 15px 20px;
    font-size: 18px;
    color: #333;
    background-color: #D3D3D3;
    border: 1px solid #696969;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: left;
    width: 100%;
}

.left-button-container_meds button:hover {
    background-color: #B0B0B0;
    border-color: #505050;
}

.description-container_meds {
    flex: 1;
    margin-left: 30px;
    padding: 30px;
    background-color: #d3d3d3;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 75%;
    overflow-y: auto;
    height: 100%;
}

.description-container_meds img {
    max-width: 90%; /* Increase the maximum width to make the image larger */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 20px auto; /* Center the image and add space around it */
    padding: 10px; /* Optional padding for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow for depth */
    border-radius: 10px; /* Optional rounded corners */
    background-color: #fff; /* Optional background color for better contrast */
    border: 2px solid #ccc; /* Optional border for styling */
}
